# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
cucumber_reports
/lib/src/test/resources/driver.properties
lib/src/test/resources/ui/driver.properties.hide  
lib/src/test/resources/ui/data.properties.hide  
